@page "/cookies"

<PageTitle>Oogcentrum Vision</PageTitle>


<div class="container mx-auto px-20 pt-16">
    <h1 class="text-[#00284F] text-[36px] font-bold">Cookiesbeleid</h1>
    <img src="divider.png" class="w-[56px] h-[8px]" />
    
    <p class = "text-[16px] pt-3">
        Bij Oogcentrum Vision hechten wij veel waarde aan uw privacy en streven wij ernaar om u de beste ervaring te bieden wanneer u onze website bezoekt. 
        Om onze diensten te verbeteren, gebruiken wij cookies. Op deze pagina leggen we uit wat cookies zijn, hoe we ze gebruiken en hoe u uw cookievoorkeuren kunt beheren.
    </p>

    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Wat zijn cookies?</h2>
    <p class="text-[16px] pt-1">
        Cookies zijn kleine tekstbestanden die op uw computer of mobiele apparaat worden opgeslagen wanneer u een website bezoekt. 
        Ze helpen websites uw apparaat te herkennen en slaan informatie op over uw voorkeuren of acties. Cookies kunnen verschillende doelen dienen, 
        zoals het verbeteren van websitefunctionaliteit en het bieden van een meer persoonlijke ervaring.
    </p>

    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Hoe gebruiken wij cookies?</h2>
    <p class="text-[16px] pt-1 pb-1">Wij gebruiken cookies voor volgende doeleinden:</p>
    <ul class="space-y-1">
        <li><strong>Essentiële cookies:</strong> Deze cookies zijn nodig om de website goed te laten functioneren. 
            Ze maken basisfuncties zoals paginanavigatie en toegang tot beveiligde delen van de website mogelijk. 
            De website kan niet functioneren zonder deze cookies.</li>
        <li><strong>Analytische cookies:</strong> We gebruiken analytische cookies om te begrijpen hoe bezoekers onze website gebruiken. 
            Dit helpt ons de prestaties van de website te verbeteren en een betere gebruikerservaring te bieden.</li>
        <li><strong>Marketingcookies:</strong> Marketingcookies worden gebruikt om bezoekers op websites te volgen. 
            De bedoeling is om advertenties weer te geven die relevant en aantrekkelijk zijn voor de individuele gebruiker.</li>
    </ul>

    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Uw cookievoorkeuren beheren</h2>
    <p class="text-[16px] pt-1">
        U kunt uw cookievoorkeuren regelen en beheren in de instellingen van uw browser. Met de meeste webbrowsers kunt u cookies accepteren, weigeren of verwijderen.
        Houd er rekening mee dat het blokkeren van cookies uw ervaring op onze website kan beïnvloeden en sommige functies kan beperken.
    </p>

    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Vragen?</h2>
    <p class="text-[16px] pt-1">
        Als u vragen heeft over ons cookiebeleid, neem dan contact met ons op via het <a class="text-[#00284F] underline" href="/contact">contactformulier</a> op onze website.
    </p>
   
</div>