@page "/"
@using Oogarts.Client.Shared

<PageTitle>Oogcentrum Vision</PageTitle>


<div class="container mx-auto px-5 lg:px-20">
<section class="flex h-[50vh] lg:h-[calc(100vh-100px)] justify-between container items-center">
    <div class="flex flex-col items-center lg:items-start text-center lg:text-left text-[28px] lg:text-[34px] space-y-6">
        <div class="flex flex-col">
        <h1 class="font-semibold">Helder zicht, Helder leven.</h1>
        <h1 class="font-semibold">Onze expertise, Jouw ogen</h1>
        </div>
        <p class="w-[300px] text-[#666] text-sm lg:text-lg">Wij zijn blij om de nieuwe website van onze praktijk te lanceren</p>

        <a href="/afspraak">
                <button class="bg-[#00284F] text-sm lg:text-lg text-white w-[200px] h-[44px] rounded-[5px] hover:bg-[#00284F]/90">
                Maak afspraak
            </button>   
        </a>
        

    </div>
    <img src="kose.png" class="hidden lg:block w-[475px] h-[458px]"/>
</section>

<Location/>

</div>

