@page "/algemenevoorwaarden"

<PageTitle>Oogcentrum Vision</PageTitle>

<div class="container mx-auto px-20 pt-16">
    <h1 class="text-[#00284F] text-[36px] font-bold">Algemene voorwaarden</h1>
    <img src="divider.png" class="w-[56px] h-[8px]" />

    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Aanvaarding van voorwaarden</h2>
    <p class="text-[16px] pt-1 pb-1">
        Door deze website te bezoeken en te gebruiken, gaat u akkoord met en bent u gebonden aan de volgende voorwaarden. Als u niet akkoord gaat met deze voorwaarden, 
        verzoeken wij u deze website niet te gebruiken.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Medische disclaimer</h2>
    <p class="text-[16px] pt-1 pb-1">
        De informatie op deze website is uitsluitend bedoeld voor informatieve doeleinden en mag niet worden beschouwd als vervanging van professioneel medisch advies of behandeling.
        Raadpleeg altijd een gekwalificeerde zorgverlener voor medisch advies, diagnose of behandeling.
     </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Gebruik van de website</h2>
    <p>
        U stemt ermee in deze website te gebruiken voor wettige en gepaste doeleinden. U zult geen activiteiten ondernemen die de functionaliteit,
        veiligheid of informatie van de website kunnen schaden, verstoren of verstoren.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Privacy en gegevens</h2>
    <p class="text-[16px] pt-1 pb-1">
        Uw gebruik van deze website is onderworpen aan ons <a class="text-[#00284F] underline" href="/privacy">privacybeleid</a>. Door deze website te gebruiken, 
        stemt u in met het verzamelen en gebruiken van uw persoonlijke gegevens zoals beschreven in het <a class="text-[#00284F] underline" href="/privacy">privacybeleid</a>.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Intellectueel eigendom</h2>
    <p class="text-[16px] pt-1 pb-1">
        Alle inhoud op deze website, inclusief tekst, afbeeldingen, logo's en grafieken, wordt beschermd door auteursrecht en andere intellectuele eigendomswetten. 
        U mag deze inhoud niet gebruiken, reproduceren of distribueren zonder onze voorafgaande schriftelijke toestemming.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Koppelingen naar websites van derden</h2>
    <p class="text-[16px] pt-1 pb-1">
        Deze website kan links bevatten naar websites van derden. Wij onderschrijven, controleren of aanvaarden geen verantwoordelijkheid voor de inhoud of praktijken van deze websites van derden. 
        Uw gebruik van dergelijke websites is op eigen risico.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Beëindiging</h2>
    <p class="text-[16px] pt-1 pb-1">
        Wij behouden ons het recht voor om naar eigen goeddunken en zonder voorafgaande kennisgeving de toegang tot deze website te beëindigen of op te schorten bij schending van deze voorwaarden.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Wijzigingen van voorwaarden en bepalingen</h2>
    <p class="text-[16px] pt-1 pb-1">
        Wij kunnen deze algemene voorwaarden te allen tijde zonder voorafgaande kennisgeving bijwerken. Als je de website blijft gebruiken nadat wijzigingen zijn aangebracht, 
        betekent dit dat je de bijgewerkte voorwaarden accepteert.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Beperking van aansprakelijkheid</h2>
    <p class="text-[16px] pt-1 pb-1">
        Voor zover toegestaan door de toepasselijke wetgeving, zijn Oogcentrum Vision en aan haar gelieerde ondernemingen niet aansprakelijk voor enige directe, 
        indirecte, gevolg- of incidentele schade die kan voortvloeien uit uw gebruik van deze website.
    </p>
    <h2 class="text-[#00284F] text-[24px] font-bold pt-3">Contactinformatie</h2>
    <p class="text-[16px] pt-1 pb-1">
        Als u vragen of opmerkingen hebt met betrekking tot deze algemene voorwaarden, kunt u contact met ons opnemen via het <a class="text-[#00284F] underline" href="/contact">contactformulier</a> op onze website.
    </p>
</div>