@inherits Microsoft.AspNetCore.Components.ComponentBase

<nav class="flex z-20 justify-between items-center h-full border-b-[1px] border-b-[#D1D1D1] container mx-auto max-h-screen">
    <a href="/"><img src="Logo.png" class="w-[100px] "/></a>
    <div class="flex space-x-8 items-center">
        <div class="flex space-x-6 items-center">
        <a class="text-[13px] font-medium" href="/team">Team</a>
        <a class="text-[13px] font-medium" href="/nieuws">Nieuws</a>
        <a class="text-[13px] font-medium" href="/oogziekten">Oogziekten</a>
        <a class="text-[13px] font-medium" href="/contact">Contact</a>
        </div>
        <button>
            <img src="SearchIcon.png" class="w-[18px]" />
        </button>
        <button class="bg-[#00284F] rounded-full h-[36px] px-4 text-white font-medium text-[13px]">
            Maak afspraak
        </button>
    </div>
</nav>