@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="flex justify-center items-center min-h-[325px] w-full border-t-[1px] border-t-[#D1D1D1] bg-[#E3E3E3]">
    <div class="container mx-auto  px-20 flex justify-between items-start">
        <div class="flex flex-col space-y-2">
            <img src="logo_vision.png" class="w-[140px] " />
            <p class="w-[223px] text-[10px]">
                Helder zicht, Helder leven. <br/>
                Onze expertise, Jouw ogen
            </p>
            <p class="font-bold text-[14px]">Volg ons</p>
            <div class="flex space-x-3">
                <img class="cursor-pointer" src="facebook.png" />
                <img class="cursor-pointer" src="twitter.png" />
                <img class="cursor-pointer" src="linkedin.png" />
                <img class="cursor-pointer" src="instagram.png" />
            </div>
        </div>
        <div class="flex truncate space-x-14 items-start">
            <div class="container flex flex-col">
                <p class="font-bold text-[14px] text-[#00284F]">Handige links</p>
                <a class="hover:underline text-[12px]" href="/">Home</a>
                <a class="hover:underline text-[12px]" href="/team">Team</a>
                <a class="hover:underline text-[12px]" href="/nieuws">Nieuws</a>
                <a class="hover:underline text-[12px]" href="/oogziekten">Oogziekten</a>
                <a class="hover:underline text-[12px]" href="/contact">Contact</a>
            </div>
            <div class="container flex flex-col">
                <p class="font-bold text-[14px] text-[#00284F]">Andere</p>
                <a class="group cursor-pointer hover:underline text-[12px]" href="/algemenevoorwaarden">Algemene voorwaarden</a>
                <a class="group cursor-pointer hover:underline text-[12px]" href="/privacy">Privacybeleid</a>
                <a class="group cursor-pointer hover:underline text-[12px]" href="/cookies">Cookies</a>
            </div>
            <div class="container flex flex-col">
                <p class="font-bold text-[14px] text-[#00284F]">Nieuwsbrief</p>
                <div type="text" class="rounded-[67px] h-[33px] bg-white flex px-1 items-center space-x-3 w-[250px] mt-3">
                    <img src="Mail.png" class="w-[18px] h-[18px] ml-2"/>
                    <input class="text-[11px] w-full text-black font-regular" placeholder="Email" />
                    <button class="min-w-[27px] h-[27px] bg-[#00284F] rounded-full flex justify-center items-center">
                        <img src="Paper_Plane.png"/>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>